.encabezado{
	background-color:#343A40; 
	width:100%;
}
.icono_header{
	height: 100px;
}
.titulo{
	color:#fff;
	font-family: sans-serif;
	font-size: 25px;
	padding-top: 12px;
}
.size_image{
	height: 200px;
}
.footer{
	background-color:#343A40;
	color:#fff;
}
.white{
	color:#FFF;
}
h5{
	color: white;
}
.icon{
	float: right;
}
a {
	color: #000;
	font-family: sans-serif;
	font-size: 20px;
}